.menu-bg.contacts-menu-bg.c
  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'
.travels-bg.index
  = render partial: 'partials/travels', locals: { :travels => @travels, :month => @month_country }