<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>1 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Утром прибытие в Брест, размещение в автобусе, трансфер в Варшаву (~190 км). Краткий самостоятельный <strong>осмотр старого города Варшав</strong>ы. Для желающих экскурсия* с местным гидом (&euro;5). Переезд по Польше (~470 км), ночь в отеле.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>2 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Утром переезд в <strong>Берлин (~115 км), осмотр города с сопровождающим</strong>: Трептов парк, Александрплатц, Унтер ден Линден, Бранденбургские ворота, Рейхстаг и др. Днем выезд из Берлина, переезд по Германии (~540 км), размещение в отеле по дороге</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>3 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Рано утром выезд из отеля, переезд (~410 км) во Францию в город Кале. Днем посадка на паром, пересечение Ла-Манша на пароме, переезд (~130 км) в Лондон. <strong>Вечером прибытие в Лондон,</strong> размещение в отеле. Автобусная прогулка* по вечернему Лондону (&pound;5) Ночь в отеле.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>4 день</strong></p>
			</td>
			<td style="width:555px;">
			<p><strong>Обзорная автобусно-пешеходная экскурсия по Лондону:</strong> Букингемский Дворец, Вестминстерское Аббатство* (билет ок. &pound;16 или экскурсия &pound;24) Парламент, Биг-Бен, Трафальгарская площадь, Сити, Тауэрский мост, Тауэр, собор св.Павла и др. Свободное время. <strong>Посещение Тауэра*</strong> (билет - &pound;22 /экскурсия - &pound;30 билет + гид), <strong>Гринвича*</strong> (&euro;20, кораблик по Темзе в одну сторону, трансфер на автобусе); вход*(&pound;10) в обсерваторию оплачивается отдельно). Ночь в отеле.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>5 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Свободное время. Утром <strong>экскурсия* в Виндзор</strong> (&pound;45, трансфер, входной билет, гид). <strong>Экскурсия* в Британский музей и/или в Национальную Галерею</strong>. Вход в музеи бесплатный, экскурсия* с гидом (&pound;8).Рекомендуем посетить <strong>музей восковых фигур Мадам Тюссо</strong> (&pound;30). Ночь в отеле. Ночь в отеле.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>6 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Свободное время в Лондоне. Для желающих поездка (&euro;30, трансфер с сопровождающим) на фешенебельный <strong>морской курорт Брайтон</strong>, прогулка по городу: Королевский павильон*, Дворцовый Пирс и др. В летнее время возможно купание на пляже*. Вечером возвращение в Лондон.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>7 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Свободное время в Лондоне. Для желающих поездка* (&euro;85, трансфер, гид, вх. билет) в центральную Англию: <strong>Оксфорд</strong>, осмотр с сопровождающим: башня Карфакс, колледжи, Бодлеанская библиотека и др. Переезд (~80 км) в <strong>Стратфорд-на-Эйвоне</strong>, экскурия с гидом: дом Шекспира, посещение церкви св. Троицы с могилой поэта, Королевский театр и др. Вечером возвращение в отель</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>8 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Свободное время в Лондоне. <strong>Экскурсия* Хэмптон Корт</strong> &mdash; бывшая загородная резиденция английских королей, (&pound;45, трансфер, входной билет, гид). Вечером выезд из Лондона, переезд в Дувр (~120 км), посадка на паром и переправа через Ла Манш , прибытие во Францию, поздно вечером размещение в отеле.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>9 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Ранний выезд из отеля (около 6:00). Переезд (~360 км) в <strong>Амстердам. Обзорная экскурсия</strong>: Королевский дворец, Национальный монумент, Новая церковь, Монетная башня, еврейский квартал, посещение алмазной фабрики и др. Свободное время. <strong>Прогулка на кораблике* по каналам Амстердама</strong> &ndash; &euro;12. Вечером выезд из Амстердама, ночь в отеле в Нидерландах.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>10 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Ранний выезд из отеля, переезд (~330 км) в <strong>Ганновер, обзорная экскурсия.</strong> Во второй половине дня переезд (~350 км) в Польшу, ночь в отеле.</p>
			</td>
		</tr>
		<tr>
			<td style="width:83px;">
			<p style="text-align: center;"><strong>11 день</strong></p>
			</td>
			<td style="width:555px;">
			<p>Ранний выезд из отеля. Переезд по Польше (~370 км) с остановкой. Во второй половине дня переезд в Брест (~290 км).</p>
			</td>
		</tr>
	</tbody>
</table>


<price>
**Базовая стоимость тура: 695 евро**
</price>


###   Примечани
> •	Туристическое предприятие оставляет за собой право изменять график поездок по мере комплектации группы, а также вносить некоторые изменения в программу тура и цены, осуществлять замену заявленных отелей и ресторанов на равнозначные. Время в пути указано ориентировочное. Фирма не несет ответственности за задержки, связанные с простоем на границах, пробками на дорогах. ЧТУП «Панда Трэвел» не несет ответственности за предоставление дополнительных услуг, предусмотренных программой тура, но не включенных в стоимость..

> •	**В стоимость путёвки входит:** проезд автобусом туркласса, проживание в отелях туркласса 3*, в Лондоне 3* недалеко от центра, рядом с метро. 
Континентальные завтраки в отелях, экскурсионное обслуживание по программе и сопровождающий в экскурсионные дни.

> •	**Дополнительно оплачиваются:** услуга «гарантийный платеж от невыезда» 25 евро, топливный сбор, обязательная доплата – 20 евро, осмотр городов и экскурсии по туру проводятся с наушниками, доплата на маршруте – 16 евро, single – доплата за одноместное размещение в отеле по запросу
250 евро, сезонная доплата на некоторые даты выездов 30 у.е. / 40 у.е.

> •	**Дополнительные экскурсии (у.е. = евро):**

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:213px;">
			<p style="text-align: center;"><strong>Экскурсия</strong></p>
			</td>
			<td style="width:213px;">
			<p style="text-align: center;"><strong>В офисе</strong></p>
			</td>
			<td style="width:213px;">
			<p style="text-align: center;"><strong>На маршруте</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:213px;">
			<p><strong>Экскурсия в Виндзор</strong></p>
			</td>
			<td style="width:213px;">
			<p>48&nbsp;у.е.&nbsp;(взрослые) / 43&nbsp;у.е.&nbsp;(дети до 14 лет)</p>
			</td>
			<td style="width:213px;">
			<p>55&nbsp;у.е.&nbsp;(взрослые) / 50&nbsp;у.е.&nbsp;(дети до 14 лет)</p>
			</td>
		</tr>
		<tr>
			<td style="width:213px;">
			<p><strong>Поездка в Брайтон</strong></p>
			</td>
			<td style="width:213px;">
			<p>25&nbsp;у.е.&nbsp;(для всех)</p>
			</td>
			<td style="width:213px;">
			<p>30&nbsp;у.е.&nbsp;(для всех)</p>
			</td>
		</tr>
		<tr>
			<td style="width:213px;">
			<p><strong>Поездка в Оксфорд - Стратфорд</strong></p>
			</td>
			<td style="width:213px;">
			<p>80&nbsp;у.е.&nbsp;(для всех)</p>
			</td>
			<td style="width:213px;">
			<p>85&nbsp;у.е.&nbsp;(для всех)</p>
			</td>
		</tr>
		<tr>
			<td style="width:213px;">
			<p><strong>Поездка Хэмптон Корт</strong></p>
			</td>
			<td style="width:213px;">
			<p>48&nbsp;у.е.&nbsp;(для всех)</p>
			</td>
			<td style="width:213px;">
			<p>55&nbsp;у.е.&nbsp;(для всех)</p>
			</td>
		</tr>
		<tr>
			<td style="width:213px;">
			<p><strong>Прогулка на кораблике по каналам Амстердама</strong></p>
			</td>
			<td style="width:213px;">
			<p>10&nbsp;у.е.&nbsp;(взрослые) / 8&nbsp;у.е.&nbsp;(дети до 18 лет)</p>
			</td>
			<td style="width:213px;">
			<p>12&nbsp;у.е.&nbsp;(взрослые) / 10&nbsp;у.е.&nbsp;(дети до 18 лет)</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:638px;">
			<p><strong>Итого, экономия при покупке экскурсий в офисе 26&nbsp;у.е.</strong>&nbsp;Покупка на маршруте не гарантирована.</p>
			</td>
		</tr>
	</tbody>
</table>