<blockquote>
<h3 id="">Примечание:</h3>
<p>• Туристическое предприятие оставляет за собой право изменять график поездок по мере комплектации группы, а также вносить некоторые изменения в программу тура и цены, осуществлять замену заявленных отелей и ресторанов на равнозначные. Время в пути указано ориентировочное. Фирма не несет ответственности за задержки, связанные с простоем на границах, пробками на дорогах. ЧТУП «Панда Трэвел» не несет ответственности за предоставление дополнительных услуг, предусмотренных программой тура, но не включенных в стоимость..</p>
<p>• <strong>В стоимость путёвки входит:</strong> проезд автобусом туркласса, проживание в отелях туркласса 3<em>, в Лондоне 3</em> недалеко от центра, рядом с метро. 
Континентальные завтраки в отелях, экскурсионное обслуживание по программе и сопровождающий в экскурсионные дни.</p>
<p>• <strong>Дополнительно оплачиваются:</strong> услуга «гарантийный платеж от невыезда» 25 евро, топливный сбор, обязательная доплата – 20 евро, осмотр городов и экскурсии по туру проводятся с наушниками, доплата на маршруте – 16 евро, single – доплата за одноместное размещение в отеле по запросу
250 евро, сезонная доплата на некоторые даты выездов 30 у.е. / 40 у.е.</p>
<p>• <strong>Дополнительные экскурсии (у.е. = евро):</strong></p>
</blockquote>

<table border="1" cellpadding="0" cellspacing="0" style="width:604px;" width="604">
  <tbody>
    <tr>
      <td colspan="5" nowrap="nowrap" style="width:378px;height:44px;">
      <p><strong><em>График заездов и стоимость в USD чел./заезд</em></strong></p>
      </td>
      <td style="width:113px;height:44px;">
      <p align="center"><strong><em>2-х местный<br />
      стандарт</em></strong></p>
      </td>
      <td style="width:113px;height:44px;">
      <p align="center"><strong><em>3-х местный<br />
      стандарт</em></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:82px;height:31px;">
      <p align="center"><strong>Выезд из<br />
      Минска</strong></p>
      </td>
      <td style="width:82px;height:31px;">
      <p align="center"><strong>Заезд в<br />
      отель</strong></p>
      </td>
      <td nowrap="nowrap" style="width:47px;height:31px;">
      <p align="center"><strong>ночи</strong></p>
      </td>
      <td style="width:82px;height:31px;">
      <p align="center"><strong>Выезд<br />
      из отеля</strong></p>
      </td>
      <td style="width:84px;height:31px;">
      <p align="center"><strong>Прибытие<br />
      в Минск</strong></p>
      </td>
      <td style="width:113px;height:31px;">
      <p align="center"><strong>&nbsp;ОСН</strong></p>
      </td>
      <td style="width:113px;height:31px;">
      <p align="center"><strong>&nbsp;ОСН</strong></p>
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" rowspan="3" style="width:82px;height:28px;">
      <p align="center"><strong>31.05.13</strong></p>
      </td>
      <td nowrap="nowrap" rowspan="3" style="width:82px;height:28px;">
      <p align="center"><strong>01.06.13</strong></p>
      </td>
      <td nowrap="nowrap" style="width:47px;height:28px;">
      <p align="center"><strong>10</strong></p>
      </td>
      <td nowrap="nowrap" style="width:82px;height:28px;">
      <p align="center"><strong>11.06.13</strong></p>
      </td>
      <td nowrap="nowrap" style="width:84px;height:28px;">
      <p align="center"><strong>12.06.13</strong></p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:28px;">
      <p align="center"><strong>100</strong></p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:28px;">
      <p align="center"><strong>70</strong></p>
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" style="width:47px;height:13px;">
      <p align="right">15</p>
      </td>
      <td nowrap="nowrap" style="width:82px;height:13px;">
      <p align="right">16.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:84px;height:13px;">
      <p align="right">17.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">150</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">105</p>
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" style="width:47px;height:13px;">
      <p align="right">20</p>
      </td>
      <td nowrap="nowrap" style="width:82px;height:13px;">
      <p align="right">21.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:84px;height:13px;">
      <p align="right">22.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">210</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">145</p>
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" rowspan="3" style="width:82px;height:28px;">
      <p align="center"><strong>05.06.13</strong></p>
      </td>
      <td nowrap="nowrap" rowspan="3" style="width:82px;height:28px;">
      <p align="center"><strong>06.06.13</strong></p>
      </td>
      <td nowrap="nowrap" style="width:47px;height:28px;">
      <p align="center"><strong>10</strong></p>
      </td>
      <td nowrap="nowrap" style="width:82px;height:28px;">
      <p align="center"><strong>16.06.13</strong></p>
      </td>
      <td nowrap="nowrap" style="width:84px;height:28px;">
      <p align="center"><strong>17.06.13</strong></p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:28px;">
      <p align="center"><strong>100</strong></p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:28px;">
      <p align="center"><strong>70</strong></p>
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" style="width:47px;height:13px;">
      <p align="right">15</p>
      </td>
      <td nowrap="nowrap" style="width:82px;height:13px;">
      <p align="right">21.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:84px;height:13px;">
      <p align="right">22.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">160</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">110</p>
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" style="width:47px;height:13px;">
      <p align="right">20</p>
      </td>
      <td nowrap="nowrap" style="width:82px;height:13px;">
      <p align="right">26.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:84px;height:13px;">
      <p align="right">27.06.13</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">225</p>
      </td>
      <td nowrap="nowrap" style="width:113px;height:13px;">
      <p align="right">155</p>
      </td>
    </tr>
  </tbody>
</table>
